<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap"rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"rel="stylesheet">
  <link rel="stylesheet" href="/css/PartialsCss/navbar.css">
  <link rel="stylesheet" href="/css/PartialsCss/sidenav.css">
  <link rel="stylesheet" href="/css/adminCss/adminViewRegisteration.css">
  <title>Document</title>
</head>

<body>
  <%- include('../partials/admin-navbar.ejs'); %>
    <div class="row">
      <div class="col-md-12">
        <div class="container  mt-4">
          <div class="row">
            <div class="col-md-6 col-6 d-flex justify-content-center ">
              <p class="heading" style="font-size: 26px;">Filter</p>
            </div>
            <div class="col-md-6 col-6 d-flex justify-content-center ">
              <span><button class="material-icons filterbtn btn mr-3 " onclick="window.print()">&#xe8ad;</button></span>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="table-responsive">
            <table class="table">
              <thead class="tablehead">
                <tr>
                  <td scope="col">Spark PEN</td>
                  <td scope="col">Name</td>
                  <td scope="col">Course Code</td>
                  <td scope="col">Course Start</td>
                  <td scope="col">Course End</td>
                  <td scope="col">Qualification</td>
                  <td scope="col">Email</td>
                  <td scope="col">Gender</td>
                  <td scope="col">Date of Birth</td>
                  <td scope="col">Address</td>
                  <td scope="col">Phone number</td>
                  <td scope="col">Department</td>
                  <td scope="col">Designation</td>
                  <td scope="col">Category</td>
                  <td scope="col">Remaining Service</td>
                  <td scope="col">Hostel Accommodation</td>
                  <td scope="col">Check In Date</td>
                  <td scope="col">Check Out Date</td>
                  <td scope="col">Check Out Time</td>
                  <td scope="col">Food</td>
                </tr>
              </thead>
              <tbody>
                <P class="text-danger"></P>
                <%result1.forEach((x)=>{%>
                  <tr>
                    <td><%=x.sparkPen%></td>
                    <td><%=x.userName%></td>
                    <td><%=x.courseCode%></td>
                    <td><%=x.courseStart%></td>
                    <td><%=x.courseEnd%></td>
                    <td><%=x.qualification%></td>
                    <td><%=x.email%></td>
                    <td><%=x.gender%></td>
                    <td><%=x.dob%></td>
                    <td><%=x.address%></td>
                    <td><%=x.contactNumber%></td>
                    <td><%=x.department%></td>
                    <td><%=x.designation%></td>
                    <td><%=x.category%></td>
                    <td><%=x.lrs%></td>
                    <td><%=x.hostelAcc%></td>
                    <td><%=x.checkInDate%></td>
                    <td><%=x.checkOutDate%></td>
                    <td><%=x.checkOutTime%></td>
                    <td><%=x.food%></td>
                  </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
<script>
</script>

</html>